<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>dev.oldi.apps.vpn</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1.0.1</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.8.0</string>
    <key>NSMainNibFile</key>
    <string>MainMenu</string>
    <key>NSPrincipalClass</key>
    <string>AtomApplication</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
  <key>ElectronTeamID</key>
  <string>MVY72CHU7M</string>
</dict>
</plist>