html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: unset;
    padding: unset;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Rubik', sans-serif;
}